/*!
 * viperverse.tv
 *
 * Author:    v i p e r
 * Version:   1.1
 *
-------------------------------------------------------------------------------*/

/* RESET
-------------------------------------------------------------------------------*/
@use 'reset';

/* FONTS
-------------------------------------------------------------------------------*/
@use 'fonts';

/* BODY + GLOBAL STYLES
-------------------------------------------------------------------------------*/
body {
  animation: move-it 3s linear infinite;
  background: repeating-linear-gradient(
    45deg,
    #0f0f0f,
    #0f0f0f 5%,
    #0b001a 5%,
    #06111a 10%
  );
  background-size: 100px 100px;
  margin: 0;
  overflow-x: hidden;
  transition: all ease-in-out 100ms;
}

header div,
main {
  margin: 0 auto;
  width: 980px;
}

/* HEADER STYLES
-------------------------------------------------------------------------------*/
header {
  background: #7a3291 url('../img/noise-transparent.png') repeat 0 0;
  border-bottom: 2px solid #222;
  overflow: hidden;
  padding: 25px 0;

  &::before {
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.25);
    content: " ";
    height: 85px;
    left: -50%;
    position: absolute;
    top: 0;
    width: 150%;
  }

  div {
    position: relative;

    h1 {
      padding-left: 55px;
      a {
        background-image: url('../img/viperverse_logo.png');
        background-size: contain;
        display: block;
        height: 35px;
        text-indent: -9999px;
        width: 205px;
      }
    }

    img.sun {
      border-radius: 20px;
      box-shadow: 0px 0px 7px #333;
      height: 45px;
      left: 0;
      position: absolute;
      top: -5px;
    }

    nav {
      position: absolute;
      right: 0;
      top: -5px;

      ul {
        li {
          float: left;
          padding-left: 20px;
          a {
            color: #fff;
            display: block;
            font-family: 'KnewaveRegular';
            font-size: 20px;
            height: 45px;
            line-height: 42px;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: #000 1px 1px 1px;
            transition: all ease-in-out 400ms;

            &:hover {
              color: #ffae00;
            }

            &:after {
              color: #e75333;
              content: " /";
              display: block;
              float: left;
              font-size: 20px;
              padding-right: 30px;
              text-align: center;
              text-shadow: none;
              width: 10px;
            }
          }

          &:first-child {
            a:after {
              content: none;
            }
          }

        }
      }
    }
  }
}


/* MAIN PAGE, 80s SUN STYLES
-------------------------------------------------------------------------------*/
.sun-box {
  border-style: none;
  border-color: #ff0000 #0000ff;
  bottom: 25%;
  display: block;
  height: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  transition: all ease-in-out 400ms;
  width: 100%;
  z-index: -9999;

  .sun-bg {
    background-color: #000;
    border-radius: 500px;
    height: 750px;
    left: 50%;
    margin-left: -375px;
    position: absolute;
    top: 115px;
    width: 750px;
  }

  .sun {
    background-image: -webkit-linear-gradient(top, #FFFE3A 2%, #FCA16B 25%, #FF5A85 50%, #fd2fa5 75%, #FE18AD 100%);
    border-radius: 500px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
    box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
    height: 750px;
    left: 50%;
    margin-left: -375px;
    opacity: 0.25;
    position: absolute;
    top: 115px;
    width: 750px;
  }

  .sunglow {
    border-radius: 500px;
    box-shadow: inset 0px 0px 126px 54px rgba(159, 23, 100, 0.18);
    height: 750px;
    left: 50%;
    margin-left: -375px;
    position: absolute;
    top: 115px;
    width: 750px;
  }
}


/* MAIN PAGE, 80s GRID LINE STYLES
-------------------------------------------------------------------------------*/
svg.moving-grid {
  animation: bg-animation .2s infinite;
  background: #080808 url('../img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  bottom: 0;
  display: inline;
  height: 25%;
  left: 0;
  margin-left: -50%;
  position: fixed;
  transition: all ease-in-out 400ms;
  width: 200%;

  line {
    height: 1px;
    opacity: 0.5;
    position: absolute;
    stroke:rgb(233,0,127);
    stroke-width: 3px;
    top: 2px;

    &.horizon {
      stroke:rgb(186, 0, 233);
      stroke-width: 5px;
      top: 0;
    }
  }

  .moving-line {
    animation: moveline 4s ease-in-out infinite; // SLOWER
    stroke:rgb(186, 0, 233);
  }

  /* SLOWER */
  .moving-line.two    {   animation-delay: 0.4s;    }
  .moving-line.three  {   animation-delay: 0.8s;    }
  .moving-line.four   {   animation-delay: 1.2s;    }
  .moving-line.five   {   animation-delay: 1.6s;    }
  .moving-line.six    {   animation-delay: 2.0s;    }
  .moving-line.seven  {   animation-delay: 2.4s;    }
  .moving-line.eight  {   animation-delay: 2.8s;    }
  .moving-line.nine   {   animation-delay: 3.2s;    }
  .moving-line.ten    {   animation-delay: 3.6s;    }

}



/* MAIN STYLES
-------------------------------------------------------------------------------*/
main {
  min-height: 300px;
  padding: 40px 0;

  h2, p {
    font-family: monospace;
  }

  p {
    color: #fff;

    &.description {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 30px;
      text-align: center;

      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }

  .viperverse-ascii {
    display: inline-block;
    margin-bottom: 40px;

    p {
      animation: type 1.5s 1s steps(45, end) forwards, glow 1s ease-in-out 2.5s 3 alternate;
      font-size: 25px;
      font-weight: bolder;
      padding: 0 0 0 83px;
      text-align: left;
      text-shadow: rgb(255,0,240) -2px 2px 2px;
      transition: all .3s ease;
      white-space: nowrap;
    }
  }

  h2 {
    animation: fade-title 1s ease;
    color: #eee;
    font-size: 35px;
    font-weight: bolder;
    height: 35px;
    letter-spacing: 10px;
    line-height: 35px;
    opacity: 0.85;
    overflow: hidden;
    text-align: center;
    text-transform: lowercase;
    transition: all .3s ease;
    white-space: nowrap;
  }

  ul.socials {

    margin: 50px auto 0;
    width: 60%;

    li {
      display: block;
      float: left;
      width: 25%;

      a {
        background: linear-gradient(225deg, #2b336f 0%, #7a3291 100%);
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        opacity: 0.5;
        padding: 12px 12px 10px 12px;
        position: relative;
        transition: all .3s ease;
        width: 50%;

        img {
          filter: invert(1);
        }

        &:hover {
          opacity: 1;
          -webkit-box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
          -moz-box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
          box-shadow: 0px 0px 50px 0px rgba(254,24,173,1);
        }
      }

    }

  }

}



/* FOOTER STYLES
-------------------------------------------------------------------------------*/
footer {
  bottom: 27%;
  position: absolute;
  text-align: center;
  transition: all .3s ease;
  width: 100%;

  span {
    color: #fff;
    font-family: monospace;
    font-size: 11px;
    font-weight: bolder;
    letter-spacing: 3px;
    opacity: 0.5;
    text-transform: uppercase;

    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

}



/* KEYFRAMES
-------------------------------------------------------------------------------*/

// Main BG
@keyframes move-it {
  0%   { background-position: initial;              }
  100% { background-position: 100px 0px;            }
}

// SVG Statis Noise BG
@keyframes bg-animation {
  0%   { background-position: 0,0;                  }
  10%  { background-position: -5%,-5%;              }
  20%  { background-position: -10%,5%;              }
  30%  { background-position: 5%,-10%;              }
  40%  { background-position: -5%,15%;              }
  50%  { background-position: -10%,5%;              }
  60%  { background-position: 15%,0;                }
  70%  { background-position: 0,10%;                }
  80%  { background-position: -15%,0;               }
  90%  { background-position: 10%,5%;               }
  100% { background-position: 5%,0;                 }
}

// SVG Lines moving towards user
@keyframes moveline {
  0%   { opacity: 0.25; transform: translateY(3px); }
  30%  { stroke:rgb(233,0,127);                   }
  50%  { opacity: 1;                                }
  100% { transform: translateY(1200px);             }
}


// Keyframes for the typing animation
@-webkit-keyframes type {
  0%   { overflow: hidden; width: 0%;               }
  99%  { overflow: hidden; width: 90%;              }
  100% { overflow: visible;                         }
}

@-moz-keyframes type {
  0%   { overflow: hidden; width: 0%;               }
  99%  { overflow: hidden; width: 90%;              }
  100% { overflow: visible;                         }
}

@-o-keyframes type {
  0%   { overflow: hidden; width: 0%;               }
  99%  { overflow: hidden; width: 90%;              }
  100% { overflow: visible;                         }
}

@keyframes type {
  0%   { overflow: hidden; width: 0%;               }
  99%  { overflow: hidden; width: 90%;              }
  100% { overflow: visible;                         }
}

// Keyframes for the glowing effect on Viperverse ASCII text
@keyframes glow {
  0%  {
    text-shadow: rgb(255,0,240) -2px 2px 2px;
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  100% {
    text-shadow: rgb(255,0,240) -2px 2px 2px;
  }
}



/* MEDIA QUERIES
-------------------------------------------------------------------------------*/

/**
 * width based stuff
 *
 */

@media screen and (max-width: 1120px) {
  header {
    display: none;
  }

  header div,
  main {
    width: 95%;
  }

  .sun-box {
    display: none;
  }

  svg.moving-grid {
    height: 10%;
  }

  main {
    padding-top: 20px;
    p {
      &.description {
        text-align: left;
      }
    }

    .viperverse-ascii {
      p {
        animation: type 1.5s 1s steps(45, end) forwards;
        font-size: 25px;
        padding: 0 0 0 0;
      }
    }

    h2 {
      text-align: left;
    }

    ul.socials {
      width: 100%;
      li {
        width: 25%;
        a {
          margin: 0 auto 0 0;
          opacity: 1;
          width: 75%;
        }
      }
    }
  }

  footer {
    position: static;

    p {
      font-size: 9px;
    }

  }
}

  /**
   * when in "mobile" view, disable svg grid under 720px height
   * also, make the footer static and enable scrolling if needed
   */
  @media screen and (max-width: 1120px) and (max-height: 720px) {
    svg.moving-grid {
      display: none;
    }

    footer {
      position: static;
      margin-bottom: 100px;
    }
  }

@media screen and (max-width: 875px) {
  main {
    .viperverse-ascii {
      p {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  main {
    p {
      &.description {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
      }
    }
    .viperverse-ascii {
      margin-bottom: 20px;
      p {
        font-size: 15px;
      }
    }

    h2 {
      font-size: 20px;
      height: 20px;
      letter-spacing: 7px;
      line-height: 20px;
    }

    ul.socials {
      margin: 25px 0 auto 0;
      li {
        width: 25%;
        a {
          margin: 0 auto 20px;
          width: 90%;
        }
      }
    }
  }
}


@media screen and (max-width: 620px) {
  footer {
    span {
      &.spacer { display: none; }
      &.text { display: block; }
    }
  }
}


@media screen and (max-width: 520px) {
  main {
    .viperverse-ascii {
      p {
        font-size: 10px;
      }
    }
  }
}


@media screen and (max-width: 350px) {
  main {
    min-height: auto;
    padding: 10px 0 20px;
    .viperverse-ascii {
      p {
        font-size: 7px;
      }
    }
  }
}

/**
 * height based stuff
 *
 */

@media screen and (min-height: 1120px) {
  .sun-box {
    height: 400px;
  }
}

@media screen and (min-height: 1120px) {
  .sun-box {
    height: 400px;
  }
}

@media screen and (min-height: 1290px) {
  .sun-box {
    height: 500px;
  }
}


/**
 * Desktop "wide" views, but with narrow vertical aspect
 *
 */

@media screen and (max-height: 800px) and (min-width: 1120px){
  svg.moving-grid {
    height: 10%;
  }

  footer {
    bottom: 12%;
  }
}

@media screen and (max-height: 650px) and (min-width: 1120px){
  svg.moving-grid {
    display: none;
  }

  footer {
    position: static;
    margin-bottom: 100px;
  }
}